@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-navigation-color: theme(colors.primary);
    --swiper-pagination-color: theme(colors.primary);
  }
}

@media (min-width: 1536px) {
  .show-content-grid-container > :nth-child(5) {
    display: none;
  }

  .show-content-grid-container > :nth-child(6) {
    display: none;
  }
}

@layer components {
  .h1 {
    @apply font-fa-display text-4xl md:text-5xl;
  }

  .h2 {
    @apply font-fa-display text-3xl md:text-4xl;
  }

  .h3 {
    @apply font-fa-display text-2xl md:text-3xl;
  }

  .h4 {
    @apply font-fa-display text-xl md:text-2xl;
  }

  .space-y {
    @apply space-y-4 md:space-y-8;
  }

  .mt-page {
    @apply mt-4;
  }

  .auth-link {
    @apply btn btn-link text-base-content/90 no-underline disabled:bg-transparent;
  }

  .side-grid-container {
    @apply grid grid-cols-1 gap-4 lg:grid-cols-10 lg:gap-8;
  }

  .content-grid-container {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
}
.max-height-video-container .video-js.vjs-fluid,
.max-height-video-container .video-js.vjs-16-9,
.max-height-video-container .video-js.vjs-4-3,
.max-height-video-container video.video-js,
.max-height-video-container video.vjs-tech {
  max-height: 40vh;
  position: relative !important;
  width: 100%;
  height: auto !important;
  max-width: 100% !important;
  padding-top: 0 !important;
  line-height: 0;
}

.max-height-video-container .vjs-control-bar {
  line-height: 1;
}
